/*site*/
.background-color--primary {
    background-color: #e8e8e8;
}

.background-color--secondary{
    background-color: white;
} 

.section-width{
    max-width: 1140px;
    margin: auto;
}

body, textarea {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/*font*/
h {
    color: #0b0b15;
    font-weight: 900;
}
p, a, address, span {
    color: #555555;
}

h1{
    font-size: 6em;
    margin: 0;
}

.padded-text-vertical{
    padding: 1em 0;
}

.padded-text-horizontal{
    padding: 0 1em;
}

.big-text{
    font-size: 2em;
}

.small-text{
    font-size: 0.9em;
}

.coloured-text{
    color: #ffb4e5 ;
}

.thick-text{
    font-weight: 900;
}

.text-center{
    text-align: center;
}

/*dividers*/
.divider{
    margin: 1em;
    height:2em;
    background-image: url(border-dark.png);
    background-repeat: repeat-x;
}

/*circles*/
.avatar-circle{
    background-color: #ffb4e5;
    border-radius: 50%;
}

.big-circle{
    position:relative;
    z-index: 1;
}

.big-circle::before{
    content: "";
    background-color: #ffb4e5;
    width: 80em;
    height: 80em;
    display: inline-block;
    position: absolute;
    z-index: -1;
    bottom: -20em;
    left: 1em;
    border-radius: 50%; 
}

.overflow-stopper{
    position: relative;
    overflow: hidden;
}

.card-circle{
    padding: 1em;
    z-index: 1;
}

.card-circle::before{
    content: "";
    background-color: #ffb4e5;
    width: 11em;
    height: 11em;
    display: inline-block;
    position: absolute;
    z-index: -1;

    border-radius: 50%; 
}

.title{
    position:relative;
    z-index: 1;
    padding: 1em;
    margin: 0;
}

.title::before{
    content: "";
    background-color: #ffb4e5;
    width: 2em;
    height: 2em;
    display: inline-block;
    position: absolute;
    z-index: -1;
    bottom: 1em;
    left: 0.5em;
    border-radius: 50%;
}

/*upper part*/  
.half {
    width: 50%;
}

.box-width-auto{
    width: auto;
    display: block;
}
.navigation {
    list-style-type: none;
    justify-content: space-between;
    padding: 0em;
}

.upper--part__picture{
    width: 25em;

}

.flex-reverse{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-end;
}

/*biography*/
.biography{
    display: flex;
    z-index: 1;
}
.biography-picture{
    width: 10em;
    justify-self: center;
}

.vertical-align{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*what do i do*/
.flex {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.flex-card {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}
.what-do-i-do-picture{
    height: 5em;
}

/*awards*/
.awards{
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
}

.awards-card{
    display: flex;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

.awards-card-picture{
    height: 5em;
}

/*my experience*/
.dividing-line{
    border-right: 1px solid #ffb4e5;
}

.divider-width{
    width: 50em;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.little-box--primary{
    padding: 0.5em;
    background-color: #ffb4e5;
    border-radius: 0.5em;
    text-align: center;
}

.little-box--secondary{
    padding: 0.5em;
    background-color: #a0a0a0;
    border-radius: 0.5em;
    text-align: center;
}

.box-width-normal{
    width: 5em;
}

/*my portfolio*/
.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(319px, 1fr));
}

.grid-card {
    padding: 1em;
}

.grid-card--img {
    width: 100%;
    height: auto;
}

/*contact*/
.flex--no-padding{
    display: flex;
}
.small-img{
    height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 2em;
}

.form {
    display: grid;
    gap: 1em;
}
 
.subject, .comment {
    grid-column: span 2;
}

input, textarea, button {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    border: 2px solid #ffb4e5;
    border-radius: 0.5em;
 }

 button:active{
    background-color: #ffb4e5;
    border: 2px solid white;
    border-radius: 0.5em;
 }

input, button, textarea {
    outline-color: #ffb2ec;
}

button{
    width: 50%;
 }

 address{
    font-style: normal;
}

.map{
    filter: grayscale(100%);
    width: 100%;
    height: 20em;
}

/*footer*/
.footer__text{
    text-align: right;
}

.push{
    margin-left: auto;
}

/*breakpoints*/ /*1200, 960, 560, 360*/
/*extra big*/
@media (min-width: 1200px){ 
    .underline:hover{
        text-decoration: underline #ffb4e5 3px;
        text-underline-position: under;
    }

    .card-circle::before{
        top: -3.5em;
        right: 11em;
    }

    .awards-card{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .navigation{
        display: flex;
    }

    .box-width-auto{
        display: contents;
    }
}

/*big*/
@media (max-width: 1199px){
    .underline:hover{
        text-decoration: underline #ffb4e5 3px;
        text-underline-position: under;
    }

    .card-circle::before{
        top: -3.5em;
        right: 9.5em;
    }

    .awards-card{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .navigation{
        display: flex;
    }

    .box-width-auto{
        display: contents;
    }
}

/*medium*/
@media(max-width: 959px){
    .flex{
        flex-direction: column; 
    }

    .box-width-auto{
        display: contents;
    }

    .underline:hover{
        text-decoration: underline #ffb4e5 3px;
        text-underline-position: under;
    }

    .navigation{
        display: flex;
    }

    .display-none{
        display: none;
    }

    .biography{
        flex-direction: column;
    }

    .card-circle::before{
        top: -3.5em;
        left: -3em;
    }

    .display-contents{
        display: contents;
    }

    .experience-card{
        flex-direction: row;
    }

    .footer{
        flex-direction: row;
    }
}

/*small*/
@media (max-width: 559px){
    h1{
        font-size: 4.5em;
        margin: 0;
    }

    .underline:hover{
        text-decoration: underline #ffdaf2 3px;
        text-underline-position: under;
    }

    .little-box--color-change:not(:hover){
        padding: 0.5em;
        background-color: #ffb4e5;
        border-radius: 0.5em;
        text-align: center;
    }

    .little-box--color-change:hover{
        padding: 0.5em;
        background-color: #ffdaf2;
        border-radius: 0.5em;
        text-align: center;
    }

    .navigation{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }

    .box-width-auto{
        display: grid;
    }

    .awards{
        flex-direction: column;
    }

    .awards-card{
        flex-direction: row;
        text-align: left;
        width: auto;
    }

    .awards-card-picture{
        padding-right: 1em;
    }

    .experience-card{
        flex-direction: column;
    }
    
    .dividing-line{
        display: contents;
    }

    .push{
        display: contents;
    }

    .form{
        display: flex;
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
}